includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/

    level: 7

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - message: 'Parameter #1 \$view of function view expects view-string\|null, string given\.'
          path: '*/routes/*'
