@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'Manrope';
  src: url('/public/displays/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.button{
  @apply p-2 rounded-2xl font-black text-white;
}
.error{
  @apply text-red-600 font-medium;
}